



<div class="dashboard-container">
    <div class="sidebar">
      <div class="logo">
       
        <h3>Jupiter Scrum</h3>
      </div>
      <ul class="menu">
        <li><a href="#"><i class="pi pi-home"></i> Home</a></li>
  <li><a href="#"><i class="pi pi-briefcase"></i> Your Work</a></li>
  <li><a href="#"><i class="pi pi-folder"></i> Projects</a></li>
  <li><a href="#"><i class="pi pi-exclamation-circle"></i> Issues</a></li>
  <li><a href="#"><i class="pi pi-users"></i> Teams</a></li>
  <li><a href="#"><i class="pi pi-cog"></i> Settings</a></li>
  <li><a href="#"><i class="pi pi-user"></i> Profile</a></li>
  <li><a href="#"><i class="pi pi-question-circle"></i> Help</a></li>
  <!-- <li><a href="#"><i class="pi pi-sign-out"></i> Logout</a></li> -->
  <button (click)="logout()" class="pi pi-sign-out">Logout</button>
      </ul>
    </div>
  
    <div class="main-content">
      <div class="top-bar">
        <button class="btn btn-primary">Create</button>
        <i class="bell-icon"></i>
      </div>
      <h1>Dashboard</h1>
      <div class="cards">
        <div class="card">
          <h3>Introduction</h3>
          <p>Welcome to Jupiter Scrum.</p>
        </div>
        <div class="card">
          <h3>Assigned to Me</h3>
        </div>
        <div class="card">
          <h3>Projects</h3>
        </div>
      </div>
    </div>
   
  </div>
  